Makefile
config.log
config.status
config_auto.h
stamp-h1
*.o
*.lo
*.a
*.la
*.swp
libtool
prog/.deps/
prog/.libs/
prog/adaptmaptest
prog/adaptnorm_reg
prog/affine_reg
prog/alltests_reg
prog/alphaclean_reg
prog/alphaxform_reg
prog/arithtest
prog/barcodetest
prog/baselinetest
prog/bilinear_reg
prog/binarize_reg
prog/bincompare
prog/binmorph1_reg
prog/binmorph2_reg
prog/binmorph3_reg
prog/binmorph4_reg
prog/binmorph5_reg
prog/blend2_reg
prog/blend_reg
prog/blendcmaptest
prog/blendtest1
prog/buffertest
prog/byteatest
prog/ccbordtest
prog/cctest1
prog/ccthin1_reg
prog/ccthin2_reg
prog/cmapquant_reg
prog/colormask_reg
prog/colormorphtest
prog/colorquant_reg
prog/colorseg_reg
prog/colorsegtest
prog/colorspacetest
prog/comparepages
prog/comparetest
prog/compfilter_reg
prog/conncomp_reg
prog/contrasttest
prog/conversion_reg
prog/convertfilestopdf
prog/convertfilestops
prog/convertformat
prog/convertsegfilestopdf
prog/convertsegfilestops
prog/converttogray
prog/converttops
prog/convolve_reg
prog/convolvetest
prog/cornertest
prog/croptext
prog/dewarp_reg
prog/dewarptest
prog/digitprep1
prog/distance_reg
prog/dithertest
prog/dwalineargen
prog/dwamorph1_reg
prog/dwamorph2_reg
prog/edgetest
prog/enhance_reg
prog/equal_reg
prog/expand_reg
prog/extrema_reg
prog/falsecolortest
prog/fcombautogen
prog/fhmtauto_reg
prog/fhmtautogen
prog/fileinfo
prog/findpattern1
prog/findpattern2
prog/findpattern3
prog/findpattern_reg
prog/flipdetect_reg
prog/flipselgen
prog/fmorphauto_reg
prog/fmorphautogen
prog/fpix_reg
prog/gammatest
prog/genfonts
prog/gifio_reg
prog/graphicstest
prog/grayfill_reg
prog/graymorph1_reg
prog/graymorph2_reg
prog/graymorphtest
prog/grayquant_reg
prog/hardlight_reg
prog/heap_reg
prog/histotest
prog/inserttest
prog/ioformats_reg
prog/iotest
prog/jbcorrelation
prog/jbrankhaus
prog/jbwords
prog/kernel_reg
prog/lineremoval
prog/listtest
prog/livre_adapt
prog/livre_hmt
prog/livre_makefigs
prog/livre_orient
prog/livre_pageseg
prog/livre_seedgen
prog/livre_tophat
prog/locminmax_reg
prog/logicops_reg
prog/lowaccess_reg
prog/maketile
prog/maze_reg
prog/misctest1
prog/modifyhuesat
prog/morphseq_reg
prog/morphtest1
prog/mtifftest
prog/numa_reg
prog/numaranktest
prog/otsutest1
prog/otsutest2
prog/overlap_reg
prog/pagesegtest1
prog/pagesegtest2
prog/paint_reg
prog/paintmask_reg
prog/partitiontest
prog/pdfiotest
prog/pdfseg_reg
prog/pixa1_reg
prog/pixa2_reg
prog/pixaatest
prog/pixadisp_reg
prog/pixalloc_reg
prog/pixcomp_reg
prog/pixmem_reg
prog/pixserial_reg
prog/pixtile_reg
prog/plottest
prog/pngio_reg
prog/printimage
prog/printsplitimage
prog/printtiff
prog/projection_reg
prog/projective_reg
prog/psio_reg
prog/psioseg_reg
prog/pta_reg
prog/ptra1_reg
prog/ptra2_reg
prog/quadtreetest
prog/rank_reg
prog/rankbin_reg
prog/rankhisto_reg
prog/ranktest
prog/rasterop_reg
prog/rasteropip_reg
prog/reducetest
prog/removecmap
prog/renderfonts
prog/rotate1_reg
prog/rotate2_reg
prog/rotatefastalt
prog/rotateorth_reg
prog/rotateorthtest1
prog/rotatetest1
prog/rotatetest2
prog/runlengthtest
prog/scale_reg
prog/scaleandtile
prog/scaletest1
prog/scaletest2
prog/seedfilltest
prog/seedspread_reg
prog/selio_reg
prog/sharptest
prog/shear2_reg
prog/shear_reg
prog/sheartest
prog/showedges
prog/skew_reg
prog/skewtest
prog/smallpix_reg
prog/smoothedge_reg
prog/snapcolortest
prog/sorttest
prog/splitcomp_reg
prog/splitimage2pdf
prog/string_reg
prog/subpixel_reg
prog/sudokutest
prog/textlinemask
prog/threshnorm_reg
prog/translate_reg
prog/trctest
prog/viewertest
prog/warper_reg
prog/warpertest
prog/watershedtest
prog/wordsinorder
prog/writemtiff
prog/writetext_reg
prog/xformbox_reg
prog/xtractprotos
prog/xvdisp
prog/yuvtest
src/.deps
src/.libs/
src/xtractprotos
